{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block 'content' %}

<h3>Categoria</h3>
<hr>
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <form action="" method="POST">{% csrf_token %}
                    <label class="mb-1 form-label" for="">Nome</label>
                    <input name="name" class="form-control mb-3" type="text">
                    <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                    <a href="{% url 'list-category' %}" class="btn btn-danger btn-sm">Cancelar</a>
            </form>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}