{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block 'content' %}

<h3>Cadastro da Missa</h3>
<hr>
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-6">
            <form action="" method="POST">{% csrf_token %}
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label"><strong>Entrada</strong></label>
                        {{ form.entrance|as_crispy_field }}
                    </div>
                    <div class="col mb-3">
                        <label class="form-label"><strong>Ato Penitencial</strong></label>
                        {{ form.penitential|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class=" col mb-3">
                        <label class="form-label"><strong>Glória</strong></label>
                        {{ form.glory|as_crispy_field }}
                    </div>
                    <div class="col mb-3">
                        <label class="form-label"><strong>Aclamação</strong></label>
                        {{ form.acclaim|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label"><strong>Ofertório</strong></label>
                        {{ form.offertory|as_crispy_field }}
                    </div>
                    <div class="col mb-3">
                        <label class="form-label"><strong>Santo</strong></label>
                        {{ form.holy|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label"><strong>Comunhão</strong></label>
                        {{ form.communion|as_crispy_field }}
                    </div>
                    <div class="col mb-3">
                        <label class="form-label"><strong>Pós-Comunhão</strong></label>
                        {{ form.post_communion|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label"><strong>Final</strong></label>
                        {{ form.final|as_crispy_field }}
                    </div>
                    <div class="col mb-3">
                        <label class="form-label"><strong>Genérica</strong></label>
                        {{ form.generic|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 mb-3">
                        <label class="form-label"><strong>Data</strong></label>
                        {{ form.date|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                <a href="{% url 'list-mass' %}" class="btn btn-danger btn-sm">Cancelar</a>
            </form>
        </div>
        <div class="col"></div>
    </div>
<hr>

{% endblock %}