{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block 'content' %}

<h3>Tempo Liturgico</h3>
<hr>
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                <a href="{% url 'list-liturgical-time' %}" class="btn btn-danger btn-sm">Cancelar</a>
            </form>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}